h1 {
	
	flex: 0 1 auto;
	margin: 0.2rem;
	text-align: center;
	
	font-size: 2rem;
	color: var(--color-yellow);
	text-shadow: 0.2rem 0.2rem var(--color-off-black);
	width: 20rem;
	
}

button {
	
	flex: 0 1 auto;
	margin: 0.2rem;
	text-align: center;
	
	color: var(--color-off-black);
	border: 0.15rem solid var(--color-off-black);
	border-radius: 0.6rem;
	
	background-color: var(--color-yellow);
	padding: 0 0.2rem 0 0.2rem;
	cursor: pointer;
	
}

button.has-vote {
	
	background-color: var(--color-dark-red);
	color: var(--color-off-white);
	
}

img {
	border: 0.15rem solid var(--color-off-black);
	border-radius: 0.6rem;
}